<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
    {%load static%}
    <link rel='stylesheet' href="{%static 'css/styles.css'%}">
</head>
<body>
<header>
    <h1>Cписок дел</h1>
    <nav>
        <ul>
            <li><a href='/'>Главная</a></li>
            <li><a href='/today_tasks/'>Сегодняшние задачи</a></li>
            <li><a href='/all_task/'>Все задачи</a></li>
            <li><a href="/add-task/">Добавить еще задачу</a></li>
        </ul>
    </nav>
</header>
<main>
    {%block content%}{%endblock%}
</main>
<footer>
    <p>2025 Список дела</p>
</footer>
</body>
</html>